<form id="changePasswordForm" class="mb-3 parafont" action="<%= url %>?_method=PUT" method="POST">
    <span class="w-75"><%- include ('./messages')%></span>
	<input id="otpNumber" type="hidden" value="" name="otpNumber">
    <input class="form-control w-75" type="email" placeholder="Email Address" value="" name="passEmail">
    <small class="form-text text-muted form-group card-body pt-0 parafont">Note: The email address should match the account email address.</small>
</form>