<form method="POST" action="<%= url %>?_method=PUT" class="d-inline" name="nonFavouriteForm">
    <button id="dropdownModalActivate" class="dropdown-item pt-1 mx-3 w-auto form-control" data-toggle="modal" data-target="#exampleModalCenter">Share</button>
</form>