<form method="POST" action="<%= url %>?_method=DELETE" class="d-inline">
    <input type="hidden" value="1" name="delete">
    <button class="dropdown-item pt-1 w-100 form-control darkModeDropdownItem text-dark">Remove</button>
</form>