<form method="POST" action="<%= url %>?_method=DELETE" class="d-inline">
    <input type="hidden" value="1" name="delete">
    <button class="fas fa-trash-alt small-icons fileControlBtn"></button>
</form>