<form method="POST" action="<%= url %>?_method=PUT" class="d-inline" name="favouriteForm">
    <input type="hidden" value="1" name="favourite">
    <button type="submit" class="far fa-star small-icons non-favourite fileControlBtn"></button>
</form>