<form method="POST" action="<%= url %>?_method=PUT" class="d-inline">
    <input type="hidden" value="0" name="delete">
    <button class="fas fa-trash-restore small-icons fileControlBtn"></button>
</form>