<form method="POST" action="<%= url %>?_method=PUT" class="d-inline" name="nonFavouriteForm">
    <input type="hidden" value="0" name="favourite">
    <button type="submit" class="fas fa-star small-icons favourite fileControlBtn"></button>
</form>