<form method="POST" action="<%= url %>?_method=PUT" class="d-inline" name="nonFavouriteForm">
    <input type="hidden" value="0" name="favourite">
    <button type="submit" class="dropdown-item pt-0 w-100 form-control darkModeDropdownItem text-dark">Remove from Starred</button>
</form>