<head>
    <title>Cloud Castle | Verify</title>
</head>
<body>
    <div><a href="/">Home</a></div>
    <div id="login_frm" class="card w-50 mx-auto mt-5">
      <div class="card-header">
        <span class="card-title h4">Change Password</span>
        <br>
        <span class="card-subtitle h6 text-muted">For better safety use a unique password for each account.</span>
      </div>
      <div class="card-body">
        <%- include ('./partials/messages') %>
        <form action="/users/changePasswordForm" method="POST">
            <div class="form-group">
              <label for="email">New Password: </label>
              <input id="NewPassword" class="form-control" type="password" tabindex="1" placeholder="Enter new password.." name="password" required>
            </div>
            <div class="form-group">
              <label for="password">Confirm:</label>
              <input id="confirmpassword" class="form-control" type="password" tabindex="2" placeholder="confirm your password..." name="confirmNewPassword" required>
            </div>
            <div class="form-group align-content-right float-right mt-2">
                <input class="btn" type="reset" name="reset" value="Clear">
                <button class="btn btn-primary" tabindex="3" type="submit">Change Password</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-muted">
          Don't have an account yet? <a href="/users/register" class="link text-primary"">Create your account.</a>
        </div>
    </div>  

      <!--End of Login-->
</body>