<!-- views/getStarted.ejs -->

<h1>Get Started </h1>

<p>
    Cloud Castle aims to provide a robust and reliable file management system for users, 
    allowing them to easily manage their files in the cloud.
</p>
