<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome to Cloud Castle</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
	<header>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				
                <a href="/users/login">Login</a> | <a href="/users/register">Register</a>
			</ul>
		</nav>
	</header>
	<main>
		<section class="hero">
			<h1>Welcome to Cloud Castle</h1>
			<p>A secure and easy-to-use file management system</p>
			<a href="/Getstarted" class="button">Get started</a>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 Cloud Castle. All rights reserved.</p>
	</footer>
</body>
</html>

