<head>
    <title>Cloud Castle | Password Reset</title>
</head>
<body>
    <div><a href="/">Home</a></div>
    <div id="login_frm" class="card w-50 mx-auto mt-5">
      <div class="card-header">
        <span class="card-title h4">Reset Password</span>
        <br>
        <span class="card-subtitle h6 text-muted">Remember to use a unique Password for every account.</span>
      </div>
      <div class="card border-0">
          <div class="card-body">
              <h6 class="form-text mb-2 headerfont text-muted mt-4"><p>Please enter your email address and we'll send you an email with instructions to reset your password.</p></h6>
              <br>
              <form id="changePasswordForm" class="mb-3 parafont" action="/users/changePasswordFormBeforeLogin" method="POST">
                  <span class="w-75"><%- include ('./partials/messages')%></span>
                  <input id="otpNumber" type="hidden" value="" name="otpNumber">
                  <input class="form-control w-75" type="email" placeholder="Email Address" value="" name="email">
                  <small class="form-text text-muted form-group card-body pt-0 parafont">Note: The email address should match the account email address.</small>
              </form>
              <script>
                  function getRndInteger(min, max) {
                    return Math.floor(Math.random() * (max - min + 1) ) + min;
                  }
              </script>
              <button class="btn btn-primary font-weight-bold" onclick="document.getElementById('otpNumber').value = getRndInteger(1000,9999); document.getElementById('changePasswordForm').submit()">Reset password</button>
              <div class="card-footer text-muted border-0 mt-5">
                  <i class="fas fa-exclamation-circle"></i>&nbsp;If you dont recieve any email from us within a few minutes, check your spam folder as sometimes they end up in there. The email will be from <span class="font-weight-bolder"">support@cloudcastle.com</span> 
              </div>
          </div>
      </div>
        <div class="card-footer text-muted">
          Don't have an account yet? <a href="/users/register" class="link text-primary"">Create your account.</a>
        </div>
    </div>  

      <!--End of Login-->
</body>